<% layout('layout') -%>

<div class="row">
<div class="col-lg-4 col-md-offset-4">

  <% if (errors.length > 0) { %>
  <div class="alert alert-danger alert-dimissible">
    <button type="button" class="close" date-dismiss="alert"alert-label="Close">
      <span aria-hidden="true"></span>
    </button>
    <%= errors %>
  </div>
  <% } %>

  <form method="post">
    <h1> SignUp </h1>

<div class="form-group">
      <label="name">Name: </label>
      <input type="text" class="form-control" name="name">
</div>

<div class="form-group">
      <label="name">Email: </label>
      <input type="email"class="form-control" name="email">
</div>

<div class="form-group">
      <label="name">Password: </label>
      <input type="password" class="form-control">
</div>
<button type="submit" class="btn btn-success">Submit</button>

  </form>

</div>
</div>
